<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title th:text="${question.title}"></title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/practice.css">
    <script src="/js/jquery-3.6.0.min.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <script src="/js/practice.js" type="application/javascript"></script>
</head>
<body>
<div th:insert="~{navigation :: nav}"></div>
<div class="container-fluid main profile">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">

            <!--正文-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4><span th:text="${question.title}"></span></h4>
                <span class="text-desc">
                    作者: <span th:text="${question.user.name}" th:if="${question.user.name != null}"></span>
                    <span th:text="Go_Ahead" th:if="${question.user.name == null}"></span> |
                    发布时间: <span th:text="${#dates.format(question.gmtCreate,'yyyy-MM-dd HH:mm')}"></span> |
                    阅读数: <span th:text="${question.viewCount}"></span>
                </span>
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12 comment-sp">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" th:text="${question.description}"></div>
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12 comment-sp">
                <hr>
                <a th:href="@{'/publish/' + ${question.id}}" class="practice-menu pull-right"
                   th:if="${session.user != null && session.user.id == question.creator}">
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    编辑
                </a>
            </div>

            <!--回复-->
            <h4>
                <span th:text="${question.commentCount}"></span> 个回复
            </h4>
            <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12 comment-sp">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" th:each="comment : ${comments}">
                <div class="media">
                    <div class="media-left">
                        <a href="#" th:if="${comment.user.avatarUrl != null}">
                            <img class="media-object img-circle" th:src="${comment.user.avatarUrl}">
                        </a>
                        <a href="#" th:if="${comment.user.avatarUrl == null}">
                            <img class="media-object img-circle"
                                 src="https://avatars.githubusercontent.com/u/50624203?v=4">
                        </a>
                    </div>
                    <div class="media-body">
                        <h5 class="media-heading">
                            <span th:if="${comment.user.name != null}" th:text="${comment.user.name}"></span>
                            <span th:if="${comment.user.name == null}" th:text="Go_Ahead"></span>
                        </h5>
                        <div th:text="${comment.content}"></div>
                        <div class="menu">
                            <span class="glyphicon glyphicon-thumbs-up icon"></span>
                            <span class="glyphicon glyphicon-comment icon"></span>
                            <span class="pull-right" th:text="${#dates.format(comment.gmtCreate,'yyyy-MM-dd')}"></span>
                        </div>
                    </div>
                </div>
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            </div>

            <!--回复输入框-->
<!--            <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="comment_section">
                <div class="media">
                    <div class="media-left">
                        <a href="#" th:if="${session.user.avatarUrl != null}">
                            <img class="media-object img-circle" th:src="${session.user.avatarUrl}">
                        </a>
                        <a href="#" th:if="${session.user.avatarUrl == null}">
                            <img class="media-object img-circle"
                                 src="https://avatars.githubusercontent.com/u/50624203?v=4">
                        </a>
                    </div>
                    <div class="media-body">
                        <h5 class="media-heading">
                            <span th:if="${session.user.name != null}" th:text="${session.user.name}"></span>
                            <span th:if="${session.user.name == null}" th:text="Go_Ahead"></span>
                        </h5>
                    </div>
                </div>
                <input type="hidden" id="question_id" th:value="${question.id}">
                <textarea class="form-control comment" rows="6" id="comment_content"></textarea>
                <button type="button" class="btn btn-success btn-publish" onclick="post()">回复</button>
            </div>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4>发起人</h4>
                <div class="media">
                    <div class="media-left">
                        <a href="#" th:if="${question.user.avatarUrl != null}">
                            <img class="media-object img-circle" th:src="${question.user.avatarUrl}">
                        </a>
                        <a href="#" th:if="${question.user.avatarUrl == null}">
                            <img class="media-object img-circle"
                                 src="https://avatars.githubusercontent.com/u/50624203?v=4">
                        </a>
                    </div>
                    <div class="media-body">
                        <h5 class="media-heading">
                            <span th:if="${question.user.name != null}" th:text="${question.user.name}"></span>
                            <span th:if="${question.user.name == null}" th:text="Go_Ahead"></span>
                        </h5>
                    </div>
                </div>
            </div>
            <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4>相关问题</h4>
            </div>
        </div>
    </div>
</div>
</body>
</html>